*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cooperltbl';
}
html,body{
    height: 100%;
    width: 100%;
}





#main{
    height:100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav{
    height: 100px;

    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    padding: 0 30px;

    align-items: center;
    justify-content: space-between;
}
#nav #part2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav>h1{
    font-size: 30px;
    font-weight: 200;
}
#nav #part2 a{
    text-decoration: none;
    color: black;
    margin: 20px;
}
#nav #part2 a:nth-last-child(1){
    
    padding: 7px 18px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border:1px solid #000;
}
#nav #part2 a:nth-last-child(1) #green{
height: 100%;
background-color: springgreen;
position: absolute;
top: 0%;
left: -100%;
width: 100%;
transition: left 0.4s ease ;

}
#nav #part2 a:nth-last-child(1) h5{
    font-weight: 100;
}
#nav #part2 a:nth-last-child(1):hover #green{
    left: 0;
}
#main>h1{
    font-size: 5.4vw;
    text-align: center;
    width: 60%;
    font-weight: 100;
    position: relative;
    z-index: 99  ;
}
#main>h1::after{
    content: "";
    width: 35%;
    height: 16px;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    position: absolute;
    bottom: -5%;
    left: 33%;
    transform: translate(50% 0);
    background-size: cover;

}
#main #img1{
    height: 450px;
    width: 350px;
    position: absolute;
    left: 7%;
    top: 25%;
}
#main #img2{
    height: 280px;
    width: 270px;
    position: absolute;
    right: 27%;
    top: 15%;
}
#main #img3{
    height: 230px;
    width: 220px;
    position: absolute;
    right: 8%;
    bottom: 7%;
}
#main #img1{
    transition: margin 0.8s ease;
}
#main #img1 :hover {
    margin-top: 10px;
}